<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


  <configuration>
    <configSections>
      <section name="log4net"
		         type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <section name="dataConfiguration"
           type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
      <section name="enterpriseLibrary.ConfigurationSource"
           type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>

    <dataConfiguration defaultDatabase="EmployeeTraining" />
    <connectionStrings>
      <add name="EmployeeTraining"
       connectionString="Database=EmployeeTraining;
		                       Server=(local);
							   Initial Catalog=EmployeeTraining;
							   User ID=EmployeeTraining;
							   Password=a1e5i9a1e5i9;
							   Integrated Security=SSPI;
							   MultipleActiveResultSets=True"
          providerName="System.Data.SqlClient" />
    </connectionStrings>

    <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
      <sources>
        <add name="System Configuration Source"
       type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </sources>
    </enterpriseLibrary.ConfigurationSource>

    <log4net>
      <root>
        <level value="DEBUG" />
        <appender-ref ref="RollingLogFileAppender" />
      </root>

      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <param name="File" value="Logs\EmployeeTrainingApp.log" />
        <param name="AppendToFile" value="true" />
        <param name="MaximumFileSize" value="5MB" />
        <param name="MaxSizeRollBackups" value="5" />
        <param name="CountDirection" value="1" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%d{DATE} %-5level %logger - %m%n %exception" />
        </layout>
      </appender>

      <logger name="UserAccessLogger">
        <level value="INFO" />
        <appender-ref ref="UserAccessLoggerAppender" />
      </logger>

      <appender name="UserAccessLoggerAppender" type="log4net.Appender.RollingFileAppender">
        <param name="File" value="Logs\User_Access.log" />
        <param name="AppendToFile" value="true" />
        <param name="MaximumFileSize" value="5MB" />
        <param name="MaxSizeRollBackups" value="25" />
        <param name="CountDirection" value="1" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%d{DATE} %-5level %logger - %m%n %exception" />
        </layout>
      </appender>

    </log4net>

    <appSettings>
      <add key="AppServerName" value="http://localhost:49213" />
      
      
    </appSettings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
      
    </system.web>
    
    

</configuration>
